# Note: Most dependencies are installed by DA3's setup.py when running 'pip install -e .'
# The only additional dependency we need is runpod for the serverless functionality
runpod>=1.6.0

# PyTorch is installed separately with specific CUDA versions:
# pip install torch==2.8.0 torchvision==0.23.0 torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cu128

# Additional dependencies installed separately:
# gsplat for 3D Gaussian Splatting support:
# pip install --no-build-isolation git+https://github.com/nerfstudio-project/gsplat.git@0b4dddf04cb687367602c01196913cde6a743d70
